
*{
    font-family: Inter!important;
}
body {
    height: 21cm;
    width: 29.7cm;

    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 !important;
    /* border: 1px solid #000; */

}

.contenedor {
    padding: 3.5cm 3.5cm 0cm 3.5cm;
}

.logo {
    height: auto;
    width: 14.4639cm;
}

.title {
    font-size: 24pt;
    font-weight: 700;
    margin-top: 1.1cm;
    color: #000;
}

.p1 {
    font-size: 16pt;
    margin-top: .8cm;
    color: #000;
}

.p2 {
    font-size: 16pt;
    margin-top: .5cm;
    color: #000;
    line-height: 20pt;
}

.grid-firmas {
    margin-top: .7cm;
}
table{
    width: 100%;;
}
td.section-firmas{
    width: 50%;
    text-align: center;
}
.firma {
    height: 2.7cm;
    width: auto;
}

.nombre {
    font-size: 13pt;
    font-weight: 700;
}

.cargo {
    font-size: 13pt;
    font-weight: 500;
    margin-top: .1cm;
}

.grid-footer {
    margin-top: 1.4cm;
    padding: 0 1.4cm;
}
td.section-footer-min{
    width: 2.1cm;
}
td.section-footer{
    width: 4cm;
}
td.section-footer.left{

    text-align: left;
}

td.section-footer.right{

    text-align: right;
}
.logo-firma {
    height: 1.5cm;
    width: auto;
}
.logo-firma-min {
    height: .75cm;
    width: auto;
}
.logo-firma-max {
    height: 1.76cm;
    width: auto;
}
@page {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}

.ml2{
    margin-left:1cm;
}