* {
  font-family: "Inter", sans-serif !important;
}

[v-cloak] {
  display: none;
}

.b-b{
  border-bottom: 1px solid rgb(184, 180, 180);
}

#app .v-toolbar__content {
  border-bottom: 2px solid rgb(234, 234, 234);
}
