.txt-thin {
  font-weight: 100 !important;
}
.txt-extraLight {
  font-weight: 200 !important;
}
.txt-light {
  font-weight: 300 !important;
}
.txt-regular {
  font-weight: 400 !important;
}
.txt-medium {
  font-weight: 500 !important;
}
.txt-semiBold {
  font-weight: 600 !important;
}
.txt-bold {
  font-weight: 700 !important;
}
.txt-extraBold {
  font-weight: 800 !important;
}
.txt-black {
  font-weight: 900 !important;
}

.txt-active {
  color: #26744f !important;
}

.v-btn {
  text-transform: unset !important;
}
